main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 30px;
}
.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.board-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 70px;
  height: 70px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(194, 221, 255);
  font-size: 30px;
  font-weight: 400;
}

@keyframes 오답_흔들 {
  from {
    transform: rotate(1deg);
  }
  to {
    transform: rotate(-1deg);
  }
}

@keyframes 정답_도르륵 {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.board-scale {
  animation: 정답_도르륵 0.5s 1 ease-in-out;
}

.board-vib {
  animation: 오답_흔들 0.1s 4;
}

.line {
  border: 2px solid rgb(136, 158, 223);
}

#timer {
  font-size: 30px;
  margin: 10px;
  color: rgb(37, 88, 150);
}
